* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}


/* stilizzazione menu sx */

aside {
    width: 250px;
    height: 100vh;
    background-color: #151400;
    overflow: scroll;
    opacity: 98%;
}

.logo-area {
    width: 100%;
    height: 80px;
    position: relative;
}

.logo_img-big {
    width: 52%;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.logo_img-small {
    display: none;
}

.aside-menu {
    padding: 5px 0;
    color: #b3b3b3;
}

.aside-menu nav ul li i {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.aside-menu nav ul li p {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
}

.aside-menu nav ul li:hover {
    color: #ffffff;
    cursor: pointer;
}

.aside-menu nav ul li:hover .green-hover {
    visibility: visible;
}

.voce_aside-menu {
    height: 40px;
    display: flex;
    align-items: center;
}

.active {
    color: #ffffff;
}

.green-hover {
    background-color: #ffffff;
    width: 4px;
    height: 80%;
    border-radius: 0 3px 3px 0;
    opacity: 40%;
    visibility: hidden;
}

.green-hover-active {
    background-color: #1ed760;
    width: 4px;
    height: 80%;
    border-radius: 0 3px 3px 0;
}

.icon_aside-menu {
    width: 22%;
    height: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_aside-menu {
    display: flex;
    align-items: center;
}

.aside-playlist-title {
    color: #ffffff;
    margin: 20px 0 10px 20px;
    text-transform: uppercase;
}

.aside-playlist p:not(.aside-playlist-title) {
    color: #b3b3b3;
    margin-left: 20px;
    font-size: 15px;
}

.playlist-create {
    margin-bottom: 20px;
}

.aside-playlist p:not(.aside-playlist-title):hover {
    color: #ffffff;
    cursor: pointer;
}

.aside-playlist section p {
    margin: 5px 0;
}

/* stilizzazione main */

main {
    width: calc(100vw - 250px);
    height: calc(100vh - 80px);
    position: absolute;
    top: 0;
    right: 0;
}

.top-menu {
    width: calc(100vw - 250px);
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.top-menu ul li {
    display: inline-block;
    text-transform: uppercase;
}

.top-menu p {
    padding: 5px 10px;
    font-size: 12px;
    color: #b3b3b3;
    opacity: 80%;
}

.green-bottom {
    background-color: #ffffff;
    width: 40%;
    height: 3px;
    border-radius: 5px;
    margin: 0 auto;
    opacity: 40%;
    visibility: hidden;
}

.green-bottom-active {
    background-color: #1ed760;
    width: 40%;
    height: 3px;
    border-radius: 5px;
    margin: 0 auto;
}

.top-menu ul li:hover p{
    color: #ffffff;
    cursor: pointer;
    opacity: 100%;
}

#active-p {
    color: #ffffff;
    opacity: 100%;
}

.top-menu ul li:hover .green-bottom {
    visibility: visible;
}

.music-area {
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(107,240,102,0.8547794117647058) 100%);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-music {
    width: 80%;
}

.first-container {
    padding-top: 80px;
}

.container-music h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 20px;
}

.music-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card-music {
    width: 17%;
    margin: 0 10px 20px 10px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

.card-music p {
    opacity: 80%;
}

.card-img img {
    width: 90%;
    border-radius: 100px;
    margin-bottom: 5px;
}

.card-img-square img {
    width: 90%;
    border-radius: 2px;
    margin-bottom: 5px;
}

/* stilizzazione player */

.player {
    width: 100vw;
    height: 100px;
    background-color: #282828;
    border-top: 1px solid #151400;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* visualizzazione smartphone */

@media screen and (max-width: 768px) {

    /* stilizzazione aside */
    aside {
        width: 60px;
    }

    .text_aside-menu {
        display: none;
    }

    .icon_aside-menu {
        width: 100%
    }

    .logo_img-big {
        display: none;
    }

    .logo-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo_img-small {
        display: block;
        width: 35px;
    }

    .aside-playlist {
        display: none;
    }

    /* stilizzazione main */
    main {
        width: calc(100vw - 60px);
    }

    .top-menu {
        width: calc(100vw - 60px);
    }
}
